* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* nav */
.navbar-default .navbar-brand {
    color: rgb(36, 37, 37);
    font-size: 30px;
    height: 70px;
    line-height: 35px;
    font-family: 'Monoton', cursive;
    animation: breathe 3s infinite;
}
@keyframes breathe {
    0% {text-shadow: 2px 2px 5px rgb(240, 240, 245);}
    45%,55% {text-shadow: 2px 2px 5px rgb(128, 146, 247);}
    100% {text-shadow: 2px 2px 5px rgb(249, 250, 252);}
}

.navbar-default {
    background-color: rgb(25, 36, 53);
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}

.navbar-default .navbar-nav>li>a {
    margin-left: 20px;
    font-size: 18px;
    color: rgb(248, 244, 244);
    height: 70px;
    line-height: 56px;
    font-family: inherit;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #A7C31E;
}

.navbar-default .navbar-toggle {
    margin-top: 17px;
    border-color: rgb(46, 49, 48);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(63, 64, 65);
}

/* nav */

/* home */
#home {
    background: url("../image/bg1.jpg") center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: rgb(68, 166, 231);
}

#home .container .photo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 30vh auto 60px;
    position: relative;
}
#home .container .photo .head{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
#home .container .photo img{
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
}
#home .container .photo img:hover{
    transform: scale(1.2);
}

/* menu */
.photo .menu{
	position: absolute;
	top: -75px;
	left: -75px;
	border: 150px solid transparent;
	cursor: default;
	border-radius: 50%;
	transform: scale(0);
	transition: transform 1.4s 0.07s;
	z-index: -1;
}
.photo:hover .menu{
	transition: transform 0.4s 0.08s, z-index   0s  0.5s;
	transform: scale(1);
	z-index: 1;
}
.photo .menu li{
	position: absolute;
	top: -100px;
	left: -100px;
	transform-origin: 100px 100px;
	transition: all 0.5s 0.1s;
}
.photo:hover .menu li{
	transition: all 0.6s;
}
.photo .menu li a{
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	font-size: 25px;
	color: #99b977;
    transition: 0.6s;
    z-index: 1;
}
.photo:hover .menu li:nth-child(1){
	transition-delay: 0.02s;
	transform: rotate(85deg);
}
.photo:hover .menu li:nth-child(1) a{
	transition-delay: 0.04s;
	transform: rotate(635deg);
}
.photo:hover .menu li:nth-child(2){
	transition-delay: 0.04s;
	transform: rotate(125deg);
}
.photo:hover .menu li:nth-child(2) a{
	transition-delay: 0.08s;
	transform: rotate(595deg);
}
.photo:hover .menu li:nth-child(3){
	transition-delay: 0.06s;
	transform: rotate(165deg);
}
.photo:hover .menu li:nth-child(3) a{
	transition-delay: 0.12s;
	transform: rotate(555deg);
}
.photo:hover .menu li:nth-child(4){
	transition-delay: 0.08s;
	transform: rotate(205deg);
}
.photo:hover .menu li:nth-child(4) a{
	transition-delay: 0.16s;
	transform: rotate(515deg);
}
.photo:hover .menu li:nth-child(5){
	transition-delay: 0.1s;
	transform: rotate(245deg);
}
.photo:hover .menu li:nth-child(5) a{
	transition-delay: 0.2s;
	transform: rotate(475deg);
}
.photo:hover .menu li:nth-child(6){
	transition-delay: 0.12s;
	transform: rotate(285deg);
}
.photo:hover .menu li:nth-child(6) a{
	transition-delay: 0.24s;
	transform: rotate(435deg);
}
.photo:hover .menu li:nth-child(7){
	transition-delay: 0.14s;
	transform: rotate(325deg);
}
.photo:hover .menu li:nth-child(7) a{
	transition-delay: 0.28s;
	transform: rotate(395deg);
}
.photo:hover .menu li:nth-child(8){
	transition-delay: 0.16s;
	transform: rotate(365deg);
}
.photo:hover .menu li:nth-child(8) a{
	transition-delay: 0.32s;
	transform: rotate(355deg);
}
.photo:hover .menu li:nth-child(9){
	transition-delay: 0.18s;
	transform: rotate(405deg);
}
.photo:hover .menu li:nth-child(9) a{
	transition-delay: 0.36s;
	transform: rotate(315deg);
}

/* menu */

#home .container .text {
    height: 56px;
    width: 0px;
    border-bottom: 2px solid rgb(65, 64, 64);
    margin: 40px auto 0px;
}
#home .container .text h3{
    text-align: center;
    display: none;
    font-weight: bold;
    height: 50px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(33, 165, 226);
}
#home .container .text .fadeInUpBig{
    display: block;
}

#home .container p {
    display: none;
    margin: 20px;
    font-size: 16px;
}

#home .container>.fadeInUpBig{
    display: block;
}

/* home */

/* skill */
#skill {
    background-color: #F0F2F5;
    min-height: 550px;
    color: #0080BA;
}

h2 {
    margin: 30px auto 0px;
    max-width: 160px;
    height: 48px;
    text-align: center;
    border-bottom: 2px solid rgb(99, 95, 95);
}

.skill-circle {
    height: 260px;
    width: 260px;
    position: relative;
    margin: 50px auto;
}

.skill-circle .out {
    height: 260px;
    width: 260px;
    animation: myfirst 5s linear infinite;
}

@keyframes myfirst {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}

.skill-circle .inner {
    height: 130px;
    width: 130px;
    animation: myfirst1 5s linear infinite;
}

@keyframes myfirst1 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.skill-circle ul {
    /* border: 3px solid rgb(168, 159, 159); */
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.skill-circle .inner li {
    height: 40px;
    width: 40px;
    /* border: 1px solid rgb(146, 145, 145); */
    border-radius: 50%;
    position: absolute;
    animation: myfirst2 5s linear infinite;
    line-height: 40px;
    text-align: center;
}

.inner .inner-item1 {
    top: -20px;
    left: 45px;
    background-color: rgba(187, 125, 125, 0.6);
}

.inner .inner-item2 {
    top: 45px;
    right: -20px;
    background-color: rgb(108, 172, 172);
}

.inner .inner-item3 {
    bottom: -20px;
    left: 45px;
    background-color: rgb(153, 149, 125);
}

.inner .inner-item4 {
    top: 45px;
    left: -20px;
    background-color: rgb(139, 124, 146);
}

@keyframes myfirst2 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}

.skill-circle .out li {
    height: 60px;
    width: 60px;
    /* border: 1px solid rgb(146, 145, 145); */
    border-radius: 50%;
    position: absolute;
    animation: myfirst3 5s linear infinite;
    line-height: 60px;
    text-align: center;
}

@keyframes myfirst3 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.out .item1 {
    top: -30px;
    left: 100px;
    background-color: rgb(199, 230, 88);
}

.out .item2 {
    top: 100px;
    right: -30px;
    background-color: rgb(221, 240, 112);
}

.out .item3 {
    bottom: -30px;
    left: 100px;
    background-color: rgb(235, 187, 98);
}

.out .item4 {
    top: 100px;
    left: -30px;
    background-color: rgb(78, 199, 124);
}

.out .item5 {
    top: 6px;
    left: 6px;
    background-color: rgb(68, 71, 71);
}

.out .item6 {
    top: 6px;
    right: 6px;
    background-color: rgb(79, 184, 149);
}

.out .item7 {
    bottom: 6px;
    left: 6px;
    background-color: rgb(59, 173, 88);
}

.out .item8 {
    bottom: 6px;
    right: 6px;
    background-color: rgb(30, 194, 194);
}

.row .skill-content {
    margin-top: 50px;
    overflow: hidden;
}

/* skill */

/* experience */
#experience {
    background-color: #F0F2F5;
    min-height: 550px;
    color: #0080BA;
}

#myCarousel {
    margin: 30px auto;
    background-color: rgba(4, 83, 187, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.3);
}

#myCarousel .carousel-inner .item {
    overflow: hidden;
}

.carousel-inner .poto-img {
    float: left;
    margin: 80px 50px 0px 50px;
    max-height: 270px;
    max-width: 400px;
}

.carousel-inner .item-content {
    height: 250px;
    max-width: 400px;
    float: left;
    /* background: black; */
    margin: 75px 0px 0px 50px;
}

.carousel-inner .poto-img img {
    width: 100%;
}

/* experience */

/* works */
#works {
    background-color: #F0F2F5;
    height: 550px;
    color: #0080BA;
}

#works .row {
    margin-top: 100px;
}

#works .content {
    display: inline-block;
    height: 150px;
    width: 150px;
    background: rgb(16, 157, 223) url("../image/m11.png") no-repeat center;
    background-size: contain;
    box-shadow: 4px 4px 6px 2px rgba(50, 50, 50, 0.6);
}

/* works */

/* oneself */
#oneself {
    background-color: #F0F2F5;
    height: 550px;
    color: #0080BA;
}

#oneself h3 {
    margin: 50px;
    text-align: center;
}

#oneself p {
    text-align: center;
    font-size: 16px;
}

/* oneself */

/* picture */

.picture1 {
    background: url("../image/bg2.jpg") center;
}

.picture2 {
    background: url("../image/bg3.jpg") center;
}

.picture3 {
    background: url("../image/bg4.jpg") center;
}

.picture4 {
    background: url("../image/bg5.jpg") center;
}

.picture {
    height: 380px;
    background-size: cover;
    background-attachment: fixed;
}

/* picture */