* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* nav */
.navbar-default .navbar-brand {
    color: #0080BA;
    font-size: 30px;
    height: 70px;
    line-height: 35px;
}

.navbar-default {
    background-color: #E9EBEE;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}

.navbar-default .navbar-nav>li>a {
    margin-left: 20px;
    font-size: 18px;
    color: #000;
    height: 70px;
    line-height: 56px;
    font-family: inherit;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #A7C31E;
}

.navbar-default .navbar-toggle {
    margin-top: 17px;
    border-color: rgb(46, 49, 48);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(63, 64, 65);
}

/* nav */

/* home */
#home {
    background: url("../image/bg1.jpg") center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: rgb(253, 250, 250);
}

#home .container .photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 190px;
}

#home .container .text {
    max-width: 600px;
    border-top: 6px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    border-bottom: 2px solid rgb(65, 64, 64);
    margin: 20px auto;
}

#home .container p {
    margin: 20px;
    font-size: 16px;
}

/* home */

/* skill */
#skill {
    background-color: #F0F2F5;
    min-height: 550px;
    color: #0080BA;
}

h2 {
    margin: 30px auto 0px;
    max-width: 160px;
    height: 48px;
    text-align: center;
    border-bottom: 2px solid rgb(99, 95, 95);
}

.skill-circle {
    height: 260px;
    width: 260px;
    position: relative;
    margin: 50px auto;
}

.skill-circle .out {
    height: 260px;
    width: 260px;
    animation: myfirst 5s linear infinite;
}
@keyframes myfirst {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}
.skill-circle .inner {
    height: 130px;
    width: 130px;
    animation: myfirst1 5s linear infinite;
}

@keyframes myfirst1 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.skill-circle ul {
    /* border: 3px solid rgb(168, 159, 159); */
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.skill-circle .inner li {
    height: 40px;
    width: 40px;
    /* border: 1px solid rgb(146, 145, 145); */
    border-radius: 50%;
    position: absolute;
    animation: myfirst2 5s linear infinite;
    line-height: 40px;
    text-align: center;
}
.inner .inner-item1 {
    top: -20px;
    left: 45px;
    background-color: rgba(187, 125,125, 0.6);
}

.inner .inner-item2 {
    top: 45px;
    right: -20px;
    background-color: rgb(108, 172, 172);
}

.inner .inner-item3 {
    bottom: -20px;
    left: 45px;
    background-color: rgb(153, 149, 125);
}

.inner .inner-item4 {
    top: 45px;
    left: -20px;
    background-color: rgb(139, 124, 146);
}
@keyframes myfirst2 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

.skill-circle .out li{
    height: 60px;
    width: 60px;
    /* border: 1px solid rgb(146, 145, 145); */
    border-radius: 50%;
    position: absolute;
    animation: myfirst3 5s linear infinite;
    line-height: 60px;
    text-align: center;
}
@keyframes myfirst3 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
.out .item1 {
    top: -30px;
    left: 100px;
    background-color: rgb(199, 230, 88);
}

.out .item2 {
    top: 100px;
    right: -30px;
    background-color: rgb(221, 240, 112);
}

.out .item3 {
    bottom: -30px;
    left: 100px;
    background-color: rgb(235, 187, 98);
}

.out .item4 {
    top: 100px;
    left: -30px;
    background-color: rgb(78, 199, 124);
}
.out .item5 {
    top: 6px;
    left: 6px;
    background-color: rgb(68, 71, 71);
}
.out .item6 {
    top: 6px;
    right: 6px;
    background-color: rgb(79, 184, 149);
}
.out .item7 {
    bottom: 6px;
    left: 6px;
    background-color: rgb(59, 173, 88);
}
.out .item8 {
    bottom: 6px;
    right: 6px;
    background-color: rgb(30, 194, 194);
}
.row .skill-content{
    margin-top: 50px;
    overflow: hidden;
}
/* skill */

/* experience */
#experience {
    background-color: #F0F2F5;
    height: 550px;
    color: #0080BA;
}
#myCarousel{
    height:350px;
    width: 800px;
    margin: 30px auto;
    background-color: #0080BA;
}
.carousel-inner img{
    width: 300px;
}
.carousel-inner .otem-content{
   
}
/* experience */

/* works */
#works {
    background-color: #F0F2F5;
    height: 450px;
}

/* works */

/* oneself */
#oneself {
    background-color: #F0F2F5;
    height: 450px;
}

/* oneself */

/* picture */

.picture1 {
    background: url("../image/bg2.jpg") center;
}

.picture2 {
    background: url("../image/bg3.jpg") center;
}

.picture3 {
    background: url("../image/bg4.jpg") center;
}

.picture4 {
    background: url("../image/bg2.jpg") center;
}

.picture {
    height: 380px;
    background-size: cover;
    background-attachment: fixed;
}

/* picture */